*,
*::before,
*::after {
  box-sizing: border-box;
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  background-color: #66788a;
  color: #fff;
}

.accordion-bayan {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 5px;
}

.bayan-item {
  display: block;
  border-top: 1px solid rgb(63, 255, 20);
  margin-bottom: 10px;
  transition: all linear 0.2s;

}

.item-label {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
}



.item-arrow {
  position: absolute;
  right: 10px;
  top: 20px;
  display: inline-block;
  content: '';
  width: 10px;
  height: 10px;
  padding: 10px;
  background-color: transparent;
  border: solid #fff;
  border-width: 3px 3px 0 0;
  transform: rotate(-45deg);
  transition: all linear 0.2s;
  opacity: 0;
}

.bayan-list:hover .item-arrow {
  opacity: 1;
}

.item-img {
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 0px;
  overflow: hidden;
  transition: all linear 0.2s;
}

.item-span {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  transition: all linear 0.2s;
}

.item-span:hover {
  color: #5e00b6;
}


.item-span:visited {
  color: #0471ff;
  ;
}

.item-checkbox {
  appearance: none;
}

.item-label:hover>.item-arrow {
  border: solid #5e00b6;
  border-width: 3px 3px 0 0;
}

.item-label:hover>span {
  color: #5e00b6;
}

.item-label:active>.item-img {
  transform: scale(0.9, 0.9);
}

.item-label:active>.item-span {
  color: #48ff00;
}

.item-label:active>.item-arrow {
  border: solid #48ff00;
  border-width: 3px 3px 0 0;
}


.item-checkbox:checked~.item-img {
  height: 400px;
  overflow: auto;
}

.item-checkbox:checked~.item-span {
  color: #5e00b6;
}

.item-checkbox:checked~.item-arrow {
  border: solid #5e00b6;
  border-width: 3px 3px 0 0;
  transform: rotate(135deg);
}

.item-label:hover .item-arrow {
  border: solid #5e00b6;
  border-width: 3px 3px 0 0;
  transform: rotate(135deg);
}

.item-label:hover>.item-img {
  height: 400px;
  overflow: auto;
}

@media screen and (max-width: 840px) {
  .accordion-bayan {
    max-width: 768px;
  }

  .item-arrow {
    width: 5px;
    height: 5px;
    padding: 5px;
    opacity: 1;
  }

  .item-img {
    width: 240px;
    overflow: auto;
  }

  .item-span {
    font-size: 20px;
  }

  .item-label:hover>.item-img {
    height: 0;
  }

  .item-checkbox:checked~.item-img {
    height: 320px;
  }
}

@media screen and (max-width: 380px) {
  .accordion-bayan {
    max-width: 300px;
  }

  .item-img {
    width: 220px;
    overflow: auto;
  }

  .item-checkbox:checked~.item-img {
    height: 280px;
  }

  .item-span {
    font-size: 16px;
  }
}